---
import Document from "../../layouts/Document.astro";
---

<Document
    description="Designer und Entwickler, der sich leidenschaftlich fuer Zugänglichkeit sowie Internationalisierung einsetzt und das Web zu einem schöneren und offeneren Ort macht."
    title="Griffen Schwiesow – Designer, Front-End-Entwickler, Barrierefreiheitsspezialist"
>
    <div class:list={["px-4 md:px-8 lg:px-16 py-8"]}>
        <h1 class:list={["leading-none font-normal", "text-6xl sm:text-7xl md:text-8xl lg:text-9xl"]}>
            Grüezi, ich<br>bi de Griffen!
        </h1>
        <p class:list={["max-w-screen-md", "pt-8", "text-xl sm:text-2xl md:text-3xl lg:text-4xl"]}>
            Designer und Entwickler, der sich leidenschaftlich fuer Zugänglichkeit sowie Internationalisierung einsetzt und das Web zu einem schöneren und offeneren Ort macht.
        </p>
    </div>
</Document>
